<!DOCTYPE html>
<html lang="en" xmlns:th="http://>www.thymeleaf.org/">
<head th:replace="cheese/fragments :: head"></head>

<body>
<h1 th:text="${title}">Default Title</h1>

<form method="post">
    <table>
        <tr>
            <th>Cheese Names</th>
            <th>Cheese Description</th>
            <th></th>
        </tr>
        <tr>
            <td>
                <input type="text" name="cheeseName" />
                <!--<input type="checkbox" name="cheeseName" />-->
            </td>
            <td>
                <input type="text" name="cheeseDescription"/>
            </td>
            <td>
                <input type="submit" value="Add" />
            </td>
        </tr>
    </table>
<ul th:each="error : ${errors}">
    <li th:text="${error}"></li>

</ul>
</form>

</body>
</html>